<div class="jumbotron">
  <div class="container">
    <ul class="alphabet">
      {{#each alphabet}}
      <li>
        <span>{{this}}</span>
      </li>
      {{/each}}
    </ul>
    <ul class="genres">
      {{#each genres}}
      <li>
        <span>{{this}}</span>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{headingTitle}}
      <div class="pull-right">
        <input class="search" type="text" ng-model="query.name" placeholder="Search...">
      </div>
    </div>
    <div class="panel-body">
      <div class="row show-list">
        {{#each shows}}
        <div class="col-xs-4 col-md-3" ng-repeat="show in shows | filter:query | orderBy:'rating':true">
          <a href="#shows/{{this._id}}">
            <img class="img-rounded" src="{{this.poster}}" width="100%"/>
          </a>
          <div class="text-center">
            <a href="#shows/{{this._id}}">{{this.name}}</a>
            <p class="text-muted">Episodes: {{this.episodes.length}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>